#mypage .page__background {
    background-color:yellow;
  }

  #mymain .page__background {
    background-color:red;
  }

  #large {
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

   }

  #foodimg{
    width : 100%;
  }

  #a{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    
  }    
  
  #aaa {
    position:relative;
  }
  
  #next1{
    background-color: tomato;

  }

  #next2{
    background-color: #CCCCCC;
  }
  .red{
    background-color: red;

  }

  
